<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motionlayoutsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SideMenusActivity"></activity>
        <activity android:name=".MotionPagerActivity"/>
        <activity android:name=".CarouselActivity"/>
        <activity android:name=".VanGoghActivity" android:theme="@style/AppTheme.NoActionBar.TransparentStatus"/>
        <activity
            android:name=".MiActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatus" />
        <activity
            android:name=".CollapseToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatus" />
        <activity
            android:name=".CollapseToolbarActivityText"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatus" />
        <activity android:name=".YouTubeActivity" />
        <activity android:name=".fragments.MotionFragmentsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>